/* 全局样式 */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif, "Microsoft YaHei", "微软雅黑";
}
  
  /* 背景图片样式 */
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

  .content-box {
    background-color: rgb(225, 224, 210);
    padding: 25px 25px;
    border-radius: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 65%;
  }

  .mainbox {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
  }

  .text {
    font-family: "SimKai", serif;
    font-weight: bold;
    text-align: left;
    line-height: 1.8;
  }

  /*诗歌*/
  .song {
    font-family: "SimKai", serif;
    font-weight: bold;
    line-height: 1.8;
  }

  .img {
    display: block;
    margin: auto;
    max-width: 50vw;
    height: auto;
  }
  
  .content-box h1 {
    margin-top: 0;
  }
  
  .content-box p {
    line-height: 1.5;
  }

/* 页脚样式 */
.footer {
  margin-top: auto;
  padding: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  
}

.footer p {
  margin: 0; /* 去掉默认外边距 */
  font-size: 14px; /* 可根据需要调整字体大小 */
}
.divider {
  border: none; /* 移除默认边框 */
  height: 1px;
  background-color: #434a0e;
  margin: 10px;
}

/*超链接*/
.guide {
  font-size: 120%;
}
.guide a:link {
  color: rgb(13, 62, 142);
  font-weight: bold;
  text-decoration: none;
}
.guide a:hover {
  color: rgb(188, 66, 18);
}

.bread {
  margin-top: 20px;
  text-align: left; /* 文字左对齐 */
  overflow-wrap: break-word; /* 防止文字溢出 */
}

.bread a:link {
  color: rgb(99, 99, 99);
  text-decoration: none;
}